<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stedu.mapper.StaffMapper">
    <insert id="insert" parameterType="staff">
        INSERT INTO `staff`(`sno`, `sname`, `sage`, `sgender`, `sentrydate`, `ssalary`, `sstate`, `did`, `savatar`)
        VALUES (#{sno}, #{sname}, #{sage}, #{sgender}, #{sentrydate}, #{ssalary}, #{sstate}, #{did}, #{savatar})
    </insert>
    <update id="update" parameterType="staff">
        UPDATE `staff` SET
                `sname`=#{sname},
                `sage`=#{sage},
                `sgender`=#{sgender},
                `sentrydate`=#{sentrydate},
                `ssalary`=#{ssalary},
                `did`=#{did},
                `savatar`=#{savatar}
        WHERE `sid`=#{sid}
    </update>
    <update id="setEstate">
        UPDATE `staff` SET `sstate`=#{sstate} WHERE `sid`=#{sid}
    </update>
    <select id="selectAll" resultType="staff">
        SELECT * FROM `staff`;
    </select>
    <select id="selectBySid" resultType="staff">
        SELECT * FROM `staff` WHERE `sid`=#{sid}
    </select>
    <select id="selectByDid" resultType="staff">
        SELECT * FROM `staff` WHERE `did`=#{did}
    </select>
    <resultMap id="staffMap" type="staff">
        <result column="did" property="did" />
        <association column="did" property="department" javaType="department" select="com.stedu.mapper.DepartmentMapper.selectByDid" />
    </resultMap>
    <select id="selectByPage" resultMap="staffMap">
        SELECT * FROM `staff`
        <where>
            <if test="sname != null and sname.length > 0">
                AND `sname` LIKE concat('%', #{sname}, '%')
            </if>
            <if test="sgender != null and sgender.length > 0">
                AND `sgender` LIKE concat('%', #{sgender}, '%')
            </if>
            <if test="ssalary != null and ssalary.length > 0">
                AND `ssalary` LIKE concat('%', #{ssalary}, '%')
            </if>
        </where>
        ORDER BY `sstate` ASC
    </select>
</mapper>